<!DOCTYPE html>
<html>
<head>
    {% block head %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
      <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="../../../../link/css/style.css">
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
{% block javascript-custom %}
<script src="../../../../link/js/vue-material.js"></script>
{% endblock %}
</body>
</html>